<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="credits"><a href="https://Cooklang.org">www.Cooklang.org</a></li>
            <li class="credits"><a href="/app/privacy/">Privacy Policy</a></li>
            <li class="credits"><a href="/app/terms/">Terms & Conditions</a></li>
            <li class="credits"><a href="/contact/">Contact Us</a></li>
            <li class="credits"><a href="https://github.com/cooklang/">Cooklang on Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
